<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link rel="stylesheet" type="text/css" href="http://211.159.164.236/css/normalize.css"/>
		<link rel="stylesheet" type="text/css" href="http://211.159.164.236/css/animate.min.css"/>
		<link href="http://211.159.164.236/css/owl.carousel.css" rel="stylesheet">
		<link href="http://211.159.164.236/css/owl.theme.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1470031228_4077797.css"/>
		<link rel="stylesheet" type="text/css" href="http://211.159.164.236/css/main.css"/>
	</head>
	<body>
	<div th:include="head :: headname"></div>
		<div class="ad clearfix wow pulse">
			<div id="owl-demo" class="owl-carousel">
				<div class="item">
	                <picture>
	                    <source srcset="img/abb.jpg" media="(min-width:50em)">
	                    <source srcset="img/abb.jpg" media="(min-width:30em)">
	                    <img src="img/abb.jpg" alt="">                    
	                </picture>
	                <div class="page-tit">关于我们</div>
	            </div>
			</div>
		</div>
		<div class="container clearfix">
			<ul class="column-nav wow rubberBand">
				<li class="active"><a href="#">关于我们</a></li>
			</ul>
			<article class="about-box wow bounceIn">
				<img src="img/abi.jpg"/>
				<p> 其“品味装饰”商标具有较高的知名度，深受消费者的喜爱与信任。公司成立于1998年，已经成为中国室内装饰行业领军品牌，专业从事家居、写字楼、商铺、酒店等设计与施工。目前已建立了完整的设计、施工、材料以及客户服务系统，取得了建设部门颁发的设计专项乙级，施工专项贰级资质,通过了ISO9001国际质量体系认证，2016年被评定为广东省、广州市著名商标。作为全国住宅装饰装修百强企业及行业知名品牌企业、先后荣获亚洲装饰业“质量服务信得过企业”、亚洲装饰业“优秀设计奖”、全国住宅装饰装修行业质量、服务、诚信五星级企业等殊荣，更是连续六年荣获“广东省守合同重信用企业”称号，深得消费者好评。</p><br />
				<p> 其“品味装饰”商标具有较高的知名度，深受消费者的喜爱与信任。公司成立于1998年，已经成为中国室内装饰行业领军品牌，专业从事家居、写字楼、商铺、酒店等设计与施工。目前已建立了完整的设计、施工、材料以及客户服务系统，取得了建设部门颁发的设计专项乙级，施工专项贰级资质,通过了ISO9001国际质量体系认证，2016年被评定为广东省、广州市著名商标。作为全国住宅装饰装修百强企业及行业知名品牌企业、先后荣获亚洲装饰业“质量服务信得过企业”、亚洲装饰业“优秀设计奖”、全国住宅装饰装修行业质量、服务、诚信五星级企业等殊荣，更是连续六年荣获“广东省守合同重信用企业”称号，深得消费者好评。</p>
			</article>
		</div>
			<div th:include="foot :: footername"></div>
	<script src="http://211.159.164.236/js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://211.159.164.236/js/owl.carousel.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://211.159.164.236/js/jquery.sidr.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://211.159.164.236/js/picturefill.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://211.159.164.236/js/main.js" type="text/javascript" charset="utf-8"></script>
	<script src="//cdn.bootcss.com/wow/1.1.2/wow.js" type="text/javascript" charset="utf-8"></script>
	<script>
	if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
		new WOW().init();
	};
	</script>
	</body>
</html>
