<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel="stylesheet" type="text/css" href="http://211.159.164.236/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="http://211.159.164.236/css/animate.min.css"/>
    <link href="http://211.159.164.236/css/owl.carousel.css" rel="stylesheet">
    <link href="http://211.159.164.236/css/owl.theme.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1470031228_4077797.css"/>
    <link rel="stylesheet" type="text/css" href="http://211.159.164.236/css/main.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body th:fragment="headname">
    <nav class="navbar wow pulse">
        <div class="container clearfix top">
            <h1 class="pull-left logo wow bounceInLeft">
                <a href="#"><img src="http://211.159.164.236/img/logo.png"/></a>
            </h1>
            <div id="nav-menu" class="wow bounceInRight">
                <ul class="menu">
                    <li class="stmenu"><a href="http://211.159.164.236" class="xialaguang">首页</a></li>
                    <li class="stmenu">
                        <a href="About_us.html" class="xialaguang">关于<i></i></a>  
                        <ul class="children">    
                            <li><a href="http://211.159.164.236/AboutUs">关于我们</a></li>
                            <li><a href="http://211.159.164.236/Company_honor">公司荣誉</a></li>
                        </ul>
                    </li>
                    <li class="stmenu">
                        <a href="http://211.159.164.236/Product/健康家居" class="xialaguang">健康家居<i></i></a>
                        <ul class="children">    
                            <li><a href="http://211.159.164.236/Product/健康家居/橱柜">橱柜</a></li>
                            <li><a href="http://211.159.164.236/Product/健康家居/地板">地板</a></li>
                            <li><a href="http://211.159.164.236/Product/健康家居/健康儿童家居">健康儿童家居</a></li>
                            <li><a href="http://211.159.164.236/Product/健康家居/木门">木门</a></li>
                            <li><a href="http://211.159.164.236/Product/健康家居/衣柜">衣柜</a></li>
                        </ul>
                    </li>
                   
                    <li class="stmenu">
                        <a href="http://211.159.164.236/Product/装饰材料" class="xialaguang">装饰材料<i></i></a>
                        <ul class="children">    
                            <li><a href="http://211.159.164.236/Product/装饰材料/板材">板材</a></li>
                            <li><a href="http://211.159.164.236/Product/装饰材料/胶黏剂">胶黏剂</a></li>
                            <li><a href="http://211.159.164.236/Product/装饰材料/墙纸">墙纸</a></li>
                            <li><a href="http://211.159.164.236/Product/装饰材料/涂料">涂料</a></li>
                            <li><a href="http://211.159.164.236/Product/装饰材料/五金">五金</a></li>
                            <li><a href="http://211.159.164.236/Product/装饰材料/易装">易装</a></li>
                        </ul>
                    </li>
                    <li class="stmenu">
                        <a href="http://211.159.164.236/Product/装修案例" class="xialaguang">装修案例</a>
                        
                    </li>
                    <li class="stmenu"><a href="http://211.159.164.236/contact" class="xialaguang">联系我们</a></li>

                </ul>
            </div>
            <div class="nav-logo" id="left-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="top-dh wow bounceInDown"  data-wow-delay=".2s">
                <i class="iconfont icon-dianhua"></i>4000-000-000
            </div>
        </div>
    </nav>
    <!-- <div class="mobile-nav" id="sidr-left">
        <ul>
            <li><a href="index.html">首页</a></li>
            <li><a href="ab.html">关于</a></li>
            <li><a href="cp.html">产品</a></li>
            <li><a href="zx.html">案例</a></li>
            <li><a href="xm.html">资讯</a></li>
            <li><a href="lx.html">联系</a></li>
        </ul>
    </div> -->
</body>
</html>