<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<script src="http://211.159.164.236/js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="http://211.159.164.236/css/normalize.css"/>
	<link rel="stylesheet" type="text/css" href="http://211.159.164.236/css/animate.min.css"/>
	<link href="http://211.159.164.236/css/owl.carousel.css" rel="stylesheet">
	<link href="http://211.159.164.236/css/owl.theme.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1470031228_4077797.css"/>
	<link rel="stylesheet" type="text/css" href="http://211.159.164.236/css/main.css"/>
</head>
<body style="background: #fff;" id="b1">

<div th:include="head :: headname"></div>
<div class="ad clearfix wow pulse"  data-wow-delay=".4s">
	<div id="owl-demo" class="owl-carousel">
		<div class="item">
			<picture>
				<source srcset="http://211.159.164.236/img/ad001-l.jpg" media="(min-width:50em)">
				<source srcset="http://211.159.164.236/img/ad001-m.jpg" media="(min-width:30em)">
				<img src="http://211.159.164.236/img/ad001.jpg" alt="">
			</picture>
		</div>
		<div class="item">
			<picture>
				<source srcset="http://211.159.164.236/img/ad002-l.jpg" media="(min-width: 50em)">
				<source srcset="http://211.159.164.236/img/ad002-m.jpg" media="(min-width: 30em)">
				<img srcset="http://211.159.164.236/img/ad002.jpg" alt="">
			</picture>
		</div>
		<div class="item">
			<picture>
				<source srcset="http://211.159.164.236/img/ad001-l.jpg" media="(min-width:50em)">
				<source srcset="http://211.159.164.236/img/ad001-m.jpg" media="(min-width:30em)">
				<img src="http://211.159.164.236/img/ad001.jpg" alt="">
			</picture>
		</div>
		<div class="item">
			<picture>
				<source srcset="http://211.159.164.236/img/ad002-l.jpg" media="(min-width: 50em)">
				<source srcset="http://211.159.164.236/img/ad002-m.jpg" media="(min-width: 30em)">
				<img srcset="http://211.159.164.236/img/ad002.jpg" alt="">
			</picture>
		</div>
	</div>
</div>
<section class="clearfix abouts-index">
	<div class="abouts-imgs wow bounceInLeft">
		<div class="abouts-fixed wow pulse" data-wow-delay=".6s" style="display: block; background-image:url(img/ab.jpg);"></div>
	</div>
	<div class="abouts-text wow bounceInRight">
		<h2 class="h2 animation-undefined">关于我们</h2>
		<p>室内设计有限公司是中国建筑装饰协会会员单位，揭阳市建筑装饰行业协会家装委员会副主任单位，是首批取得广州家庭装饰装修企业资格证的单位之一。"做品味装饰，创名牌企业"，正以饱满的热情和自信一路前行！</p>
		<p>其“品味装饰”商标具有较高的知名度，深受消费者的喜爱与信任。公司成立于1998年，已经成为中国室内装饰行业领军品牌，专业从事家居、商铺、酒店等设计与施工。在2014年10月15日，公司获得广州市工商行政管理局的审批，升格为集团企业，并正式设立广东室内装饰集团。目前已建立了完整的设计、施工、材料以及客户服务系统，取得了建设部门颁发的设计专项乙级，施工专项贰级资质,通过了ISO9001国际质量体系认证，2016年被评定为广东省著名商标。</p>
		<!--<a class="abouts-button" href="#">更多介绍</a>-->
	</div>
</section>
<section class="clearfix team-index wow bounceInLeft">
	<div class="abouts-text">
		<h2 class="h2 animation-undefined">设计团队</h2>
		<p class="f16">室内设计精英团队主创设计来自亚洲顶级室内设计公司，荣获多项国内外设计大奖，是一批具有强烈的创作欲望、善于思考、不断进取的设计师精英。</p>
		<p>团队有着丰富的室内设计创意及设计理念，更是有着多年的别墅豪宅、商业空间设计经验，且均来自美术学院、美工学院、美术大学等专业设计院校背景，更是有着国际化的视野及敏锐的时尚触觉，他们崇尚以设计为核心，设计创造价值，提出“无创意”“不设计”的设计理念服务每个客户。</p>
		<!--<a class="abouts-button" href="#">更多介绍</a>-->
	</div>
	<div class="abouts-imgs wow bounceInRight">
		<div class="abouts-fixed wow pulse" data-wow-delay=".6s" style="display: block; background-image:url(img/02.jpg);"></div>
	</div>
</section>
<section class="prices-box clearfix">
	<h2 class="prices-title wow bounceIn">装修案例</h2>
	<div id="owl-demo2" class="owl-carousel wow bounceInUp">
		<div class="item" th:each="product1:${productanli}">
			<a th:href="@{'http://211.159.164.236/Productdetails/'+${product1.ID}}">
				<img th:src="@{'http://211.159.164.236/'+${product1.img_src}}" alt="">
				<div class="al-txt">
					<h3 th:text="${product1.Product_details_name}"></h3>
					<p>【 · 浏览 · 】</p>
				</div>
			</a>
		</div>
	</div>
</section>
<!-- 产品展示 -->
<section class="info-box">
	<h2 class="prices-title wow bounceIn">产品展示</h2>
	<div class="container clearfix">
		<ul class="info-list case-list wow bounceInLeft" id="ul1">
			<li th:each="product:${productcp}">
				<a th:href="@{'http://211.159.164.236/Productdetails/'+${product.ID}}" class="pic">
					<img th:src="@{'http://211.159.164.236/'+${product.img_src}}"/>
				</a>
				<h3><a th:href="@{'http://211.159.164.236/Productdetails/'+${product.ID}}" th:text="${product.Product_details_name}"></a></h3>

			</li>
		</ul>
	</div>
	<div class="a1" id="a1">
	</div>
</section>
<div th:include="foot :: footername"></div>

<script src="http://211.159.164.236/js/owl.carousel.js" type="text/javascript" charset="utf-8"></script>
<script src="http://211.159.164.236/js/jquery.sidr.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://211.159.164.236/js/picturefill.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://211.159.164.236/js/main.js" type="text/javascript" charset="utf-8"></script>
<script src="//cdn.bootcss.com/wow/1.1.2/wow.js" type="text/javascript" charset="utf-8"></script>
<script>
    if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
        new WOW().init();
    };
</script>
</body>
</html>
