<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/normalize.css"/>
		<link rel="stylesheet" type="text/css" href="css/animate.min.css"/>
		<link href="css/owl.carousel.css" rel="stylesheet">
		<link href="css/owl.theme.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1470031228_4077797.css"/>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>		
	</head>
	<body>
		
			<!--#include virtual="/head.html"-->
		<div class="ad clearfix wow pulse">
			<div id="owl-demo" class="owl-carousel">
				<div class="item">
	                <picture>
	                    <source srcset="img/abb.jpg" media="(min-width:50em)">
	                    <source srcset="img/abb.jpg" media="(min-width:30em)">
	                    <img src="img/abb.jpg" alt="">                    
	                </picture>
	                <div class="page-tit">装修案例</div>
	            </div>
            

			</div>
		</div>
		<div class="container clearfix news-nav">
			<ul class="column-nav wow bounceInLeft">
				<li class="active"><a href="#">装修搭配</a></li>
				<li><a href="#">软装改造</a></li>
			</ul>
			<div class="input-search pull-right wow bounceInRight">
				<input type="text" name="" id="" value="" class="form-control"  />
				<button class="input-search-btn"><i class="iconfont icon-sousuo"></i></button>
			</div>
		</div>
		

		<div class="container news-box clearfix">
			<div class="pull-left product-content-body wow bounceInLeft">
				<div class="news-tit">
					<h1>宅在“云端”里 简约却不简单的文艺美宅</h1>
					<div class="inft-txt">2016-07-19 admin</div>
				</div>
				<div class="product-txt">
					<p>案例一：浪漫春光的亮系白色调</p>
					<img src="img/cpp.jpg"/>
					<p>这间偌大的独立浴室，整个空间都是以明亮色调的白色打底，但丝毫没有让人感觉到单调，其中绿植的点缀起到了很大的作用。因为白色的简单，配搭起室内的装饰，相得益彰。中间两款流线造型的独立浴缸，适合你和伴侣在这里泡上一个美美的泡澡，在绿意盎然的环境中，享受无尽春色，有着时光静止的写意。</p>
					<p>案例一：浪漫春光的亮系白色调</p>
					<img src="img/cpp.jpg"/>
					<p>这间偌大的独立浴室，整个空间都是以明亮色调的白色打底，但丝毫没有让人感觉到单调，其中绿植的点缀起到了很大的作用。因为白色的简单，配搭起室内的装饰，相得益彰。中间两款流线造型的独立浴缸，适合你和伴侣在这里泡上一个美美的泡澡，在绿意盎然的环境中，享受无尽春色，有着时光静止的写意。</p>
					<p>案例一：浪漫春光的亮系白色调</p>
					<img src="img/cpp3.jpg"/>
					<p>这间偌大的独立浴室，整个空间都是以明亮色调的白色打底，但丝毫没有让人感觉到单调，其中绿植的点缀起到了很大的作用。因为白色的简单，配搭起室内的装饰，相得益彰。中间两款流线造型的独立浴缸，适合你和伴侣在这里泡上一个美美的泡澡，在绿意盎然的环境中，享受无尽春色，有着时光静止的写意。</p>
				</div>

			</div>
			<div class="pull-right product-hot wow bounceInRight">
				<h3 class="product-title">热门推荐</h3>
				<ul class="news-hotlist clearfix">
					<li>
						<h2><a href="#">宅在“云端”里 简约却不单的文艺美宅简单的文艺美宅</a></h2>
						<p>木色为主的家具将大开间包裹成典型的日式风格。由于空间的长条形状，一切软装看似简单而信手拈来，实则藏着Tina的几个壮举：没有厨房和厨区，</p>
					</li>
					<li>
						<h2><a href="#">宅在“云端”里 简约却不单的文艺美宅简单的文艺美宅</a></h2>
						<p>木色为主的家具将大开间包裹成典型的日式风格。由于空间的长条形状，一切软装看似简单而信手拈来，实则藏着Tina的几个壮举：没有厨房和厨区，</p>
					</li>
					<li>
						<h2><a href="#">宅在“云端”里 简约却不单的文艺美宅简单的文艺美宅</a></h2>
						<p>木色为主的家具将大开间包裹成典型的日式风格。由于空间的长条形状，一切软装看似简单而信手拈来，实则藏着Tina的几个壮举：没有厨房和厨区，</p>
					</li>
					<li>
						<h2><a href="#">宅在“云端”里 简约却不单的文艺美宅简单的文艺美宅</a></h2>
						<p>木色为主的家具将大开间包裹成典型的日式风格。由于空间的长条形状，一切软装看似简单而信手拈来，实则藏着Tina的几个壮举：没有厨房和厨区，</p>
					</li>
				</ul>
				
			</div>
		</div>
		<!--#include virtual="/foot.html"-->
	<script src="js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/owl.carousel.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery.sidr.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/picturefill.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/main.js" type="text/javascript" charset="utf-8"></script>
	<script src="//cdn.bootcss.com/wow/1.1.2/wow.js" type="text/javascript" charset="utf-8"></script>
	<script>
	if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
		new WOW().init();
	};
	</script>


	</body>
</html>
